@charset "utf-8";

.icon_bar li {
    width: 112px;
    height: 110px;
    background-image: url("./images/iconset.png");
    background-repeat: no-repeat;
}

.icon1 {
    background-position: 0 0;
}

.icon2 {
    background-position: -114px 8px;
}

.icon3 {
    background-position: -226px 0;
}

.icon4 {
    background-position: -336px 0;
}

.icon5 {
    background-position: 0 -110px;
}

.icon6 {
    background-position: -112px -220px;
}

.icon7 {
    background-position: -224px -330px;
}

.icon8 {
    background-position: -336px -150px;
}

.icon9 {
    background-position: -224px -330px;
}

.icon10 {
    background-position: -336px -150px;
}